body {
  background-color: #ececec;
  font-size: 16px;
  overflow-x: hidden;
}

.navbar-dark a {
  color: #cdcdcd;
  font-weight: bold;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}

.card-deck-wrapper {
  justify-content: center;
  padding: 10px;
}

.card {
  margin: 20px;
  max-width: 320px;
}

.card-block {
  padding: 5px;
}

.menu-sidebar {
  padding: 0;
  width: 75%;
  transition: 0.5s;
}

.menu-sidebar.hidden {
  display: none;
}

.menu-sidebar .list-group-item {
  background-color: #454545;
  color: #ededed;
  border-radius: 0
}

.slide-over {
  position: absolute;
  /*width: 75%;*/
  left: 75%;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 21px;
  }

  .card-deck {

  }
  .card {
    width: 320px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .menu-sidebar.hidden {
    display: block;
    width: 25%;
  }
  .main {
    width: 75%;
    position: absolute;
    left: 25%;
  }
  .navbar-toggler {
    display: none;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
  .menu-sidebar.hidden {
    width: 20%;
  }
  .main {
    width: 80%;
    left: 20%;
  }
}

@media (min-width: 1200px) {  }
