body {
  background-color: #ececec;
  font-size: 32px;
}

.navbar-dark a {
  color: #cdcdcd;
  font-weight: bold;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}

.card-deck-wrapper {
  justify-content: center;
  padding: 10px;
}

.card {
  margin: 20px;
  width: 640px;
}

.card-block {
  padding: 5px;
}

.menu-sidebar {
  padding: 0;
  width: 25%;
  transition: 0.5s;
}

.menu-sidebar.hidden {
  display: none;
}

.menu-sidebar .list-group-item {
  background-color: #454545;
  color: #ededed;
  border-radius: 0
}

.slide-over {
  position: absolute;
  left: 25%;
}

@media (min-device-width: 576px) {
  body {
    font-size: 21px;
  }

  .card-deck {

  }
  .card {
    width: 320px;
  }
}

@media (min-device-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (min-device-width: 992px) {
  body {

  }
}

@media (min-device-width: 1200px) {  }
